<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">
  <select id="findAll" resultType="goodsVo">
    select * from goods 
    <if test="keyword != null and keyword!= ''">
     where name like '%' || #{keyword} || '%'
    </if>
  </select>
</mapper>